PORT=4444
GROUP_ID=<TG_DISCUSSION_GROUP_ID>
BOT_TOKEN=<TG_BOT_API_KEY>
GROUP_USERNAME=<TG_CHANNEL_USERNAME>
TELEGRAM_WEBHOOK_PATH=/telegram/webhook/<RANDOM_PATH>
TELEGRAM_WEBHOOK_SECRET_TOKEN=<RANDOM_SECRET_TOKEN>

AUTHOR=<RSS_FEED_AUTHOR_NAME>
WEBSITE_HOST=<WEBSITE_URL_FOR_RSS_FEED>
RSS_ITEM_LIMIT=50
RSS_LANGUAGE=ru
RSS_ITEMS_FILE_PATH=data/rss-items.json
RSS_GUID_SECRET=<RANDOM_GUID_SECRET>
